.app {
  display: flex;
  flex-direction: column;
}

.router {
  min-height: 100vh;
  padding: 10px 7%;
  margin-bottom: 30px;
}

.footer {
  text-align: center;
  background-color: #14213d;
  padding: 20px;
  color: #fff;
}

.footer a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

.footer .MuiSvgIcon-root {
  padding: 7px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.footer .MuiSvgIcon-root:hover {
  color: #14213d;
  background-color: #fff;
}
